.git
.github
.env
.env.*
vercel-env.txt
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
